* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.team-person-item {
    cursor: pointer;
    position: relative;
    width: 450px;
    height: 450px;
    background: url(./assets/img/05-SERGIO_.jpg);
    background-size: contain;
}
.above-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(9, 6, 6));
    opacity: 0.8;
}
.name {
    position: absolute;
    background-color: linear-gradient(180deg,hsla(0,0%,93%,.2),hsla(0,0%,100%,0) 90%);
    bottom: 40%;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    width: 100%;
    overflow: hidden;
}
.name h1 {
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
	background: linear-gradient(to bottom, white 0%, black 100%);
    opacity: 0.4;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.infor {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    font-size: 32px;
    text-align: center;
    bottom: 15%;
    transition: bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}
.name_position {
    margin-top: 50px;
    transition: margin-top;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}
.position {
    font-size: 16px;
    opacity: 0.5;
}
.achievements { 
    width: 90%;
    padding-top: 10px;
    border-top: thin solid white;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-around;
    color: white;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom, opacity, scale;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
}
.achievements-details, .achievements-season {
    display: flex;
    justify-content: space-around;
}
.sub-achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
}
.team-person-item:hover .infor {
    bottom: 25%;
}
.team-person-item:hover .name_position {
    margin-top: 0;
}
.team-person-item:hover .achievements {
    bottom: 5%;
    opacity: 1;
}
.season {
    color: yellow;
    font-size: 10px;
}
