@media screen and (max-width: 1219px) {
    .nav-mid li {
        font-size: 1.2rem;
    }
    .nav-first {
        grid-template-rows: 48px 60px;
    }
    .achievements-club {
        flex-wrap: wrap;
        height: 250px;
        justify-content: space-evenly;
    }
    .achievements-club-item {
        width: 45%;
        margin: 20px 0px;
    }
    .name_position .full-name {
        font-size: 2.6rem;
    }
    .name h1 {
        font-size: 8rem;
    }
    .sub-achievements {
        font-size: .6rem;
    }
    .team-person-item:hover .name_position {
        bottom: 0%;
    }
    .team-person-item:hover .infor {
        bottom: 35%;
    }
}
@media screen and (max-width: 1100px) {
    .nav-first {
        grid-template-rows: 48px 55px;
    }
    .social-network p {
        display: none;
    }
    .social-network i {
        font-size: 1.5rem;
    }
    .re-1100px {
        display: block !important;
    }
    .sub-1-drop-down-1 span, .sub-2-drop-down-1 span, .sub-drop-down-2 span, .sub-drop-down-2 span, .sub-1-drop-down-3 span, .sub-2-drop-down-3 span, .sub-drop-down-4 span {
        font-size: 1rem;
    }
    .sub-achievements b:last-child {
        font-size: 2rem;
    }
}
@media screen and (max-width: 1024px) {
    .nav-first {
        grid-template-areas: 
        "logo inf inf"
        "nav-mid nav-mid nav-mid";
        grid-template-rows: 48px 55px;
        grid-template-columns: 200px 1fr 90px;
    }
    .logo {
        border: 1px solid #29283d;
    }
    .logo h1{
        font-size: 1.8rem;
    }
    .logo img {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .achievements-season {
        display: none;
    }
    .sub-achievements {
        justify-content: flex-end;
    }
    .sub-achievements b:first-child {
        font-size: 1rem;
        text-align: center;
    }
    .team-person-item:hover .infor {
        bottom: 30%;
    }
}
@media screen and (max-width: 840px) {
    .nav-first, .nav-second {
        display: none;
    }
    .nav-tablet {
        display: block;
    }
    .name-team h1{
        font-size: 4rem !important;
    }
    .name-title {
        font-size: 1.8rem;
    }
    .partner {
        flex-direction: column;
        justify-content: center;
    }
    .partner svg {
        width: 42px;
        height: 42px;
    }
    .partner p {
        border: none;
        padding: 0;
        margin: 0;
    }
    .achievements-club {
        height: 186px;
        justify-content: space-between;
        padding: 0;
        overflow: hidden;
    }
    .achievements-club-item {
        width: 24%;
        height: 100%;
        margin: 0px;
        background-size: auto;
    }
    .achievements-club-item span{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .achievements-club-item span p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .achievements-club-item span b {
        font-size: 4rem;
        padding: 0;
        margin: 0px;
        margin-left: 10px;
    }
    .achievements-club-item span svg {
        width: 24px !important;
        height: 48px !important;
        margin: 0;
    }
    .footer-top svg {
        height: 50%;
    }
    .header-name-team {
        top: 15%;
        font-size: 3rem;
    }
    .nikes svg {
        width: 125px;
        height: 75px;
    }
    .donors {
        border: none;
    }
    .spotify svg {
        width: 150px;
        height: 75px;
    }
    .footer p {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .header-titlte-footer-top {
        display: flex;
        position: relative;
        align-items: center;
        margin: 0 10px;
    }
    .header-titlte-footer-top::after {
        content: '';
        height: 2px;
        width: 40%;
        position: absolute;
        left: 0;
        background-color: #fdc52c;
    }
    .header-titlte-footer-top::before {
        content: '';
        height: 2px;
        width: 40%;
        position: absolute;
        right: 0;
        background-color: #fdc52c;
    }
    .footer-mid-title {
        font-size: 1.8rem;
    }
    .social-media {
        flex-wrap: wrap;
    }
    .social-media-item {
        width: 30%;
        margin-bottom: 10px;
    }
    .footer-bottom {
        margin-top: 50px;
    }
    .sitemap {
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
    .name-logo h1{
        font-size: 2.6rem;
    }
    .footer-corporate-link ul {
        flex-direction: column;
        margin-top: 10px;
    }
    .footer-corporate-link ul li {
        border: none !important;
        margin-bottom: 5px;
    }
    .footer-corporate-link {
        flex-direction: column;
    }
    .achievements-club-item span p {
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    .name-team h1 {
        font-size: 3rem !important;
    }
    .categories ul{
        overflow: scroll;
    }
}
@media screen and (max-width: 600px) {
    .team-person {
        margin: 0 5px;
    }
    .team-person-item {
        width: 48%;
        aspect-ratio : 1 / 1;
        margin: 2.5px 2.5px;
    }
}
@media screen and (max-width: 640px) {
    .sitemap {
        grid-template-columns: repeat(2, 50%);
    }
    .sitemap-item h4 {
        margin-bottom: 15px;
    }
    .sitemap-item li {
        margin: 0;
    }
    .footer-corporate {
        margin-top: 30px;
    }
    .footer-corporate-link p {
        font-size: 1remh;
    }
    .name-position h1 {
        font-size: 2.6rem;
    }
    .name_position .posi {
        font-size: 1rem;
    }
    .assitant {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 562px){
    .name-team-tablet{
        font-size: 1.6rem;
    }
    .nav-tablet-bottom p{
        font-size: 1rem;
    }
    .nav-tablet-bottom i {
        font-size: 1.2rem !important;
    }
    .header-titlte-footer-top::after {
        width: 35%;
    }
    .header-titlte-footer-top::before {
        width: 35%;
    }
}
@media screen and (max-width: 500px){
    
}
@media screen and (max-width: 480px){
    .assitant {
        margin-top: 50px;
    }
    .assitant li {
        width: 100%;
    }
}
@media screen and (max-width: 440px){
    .social-media-item {
        width: 45%;
    }
    .header-name-team {
        font-size: 2.6rem;
        top: 18%;
    }
}
@media screen and (max-width: 400px){
    .team-person {
        justify-content: center;
    }
    .team-person-item {
        width: 99%;
        aspect-ratio : 1 / 1;
        margin: 2.5px 2.5px;
    }
}