@font-face {
    font-family: barcaBold;
    src: url(../font/FC_BARCELONA-Bold.woff2);
}
@font-face {
    font-family: barcaExtraBold;
    src: url(../font/FC_BARCELONA-Extrabold.woff2);
}
@font-face {
    font-family: barcaLight;
    src: url(../font/FC_BARCELONA-Light.woff2);
}
@font-face {
    font-family: barcaRegular;
    src: url(../font/FC_BARCELONA-Regular.woff2);
}
@font-face {
    font-family: barcaSemiBold;
    src: url(../font/FC_BARCELONA-Semibold.woff2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    height: 100vh;
}
.container {
    background-color: #181733;
    width: 100%;
    height: auto;
}
.nav-tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #181733;
    position: sticky;
    top: 0;
    z-index: 12;
    display: none;
}
.nav-tablet-top .fa-bars {
    font-size: 2rem;
    margin-left: 5px;
    color: white;
}
.nav-tablet-top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}
.nav-mobile {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #181733;
    z-index: 200;
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
}
.input-search-container {
    width: 100%;
}
.input-search-container #input-search-mobile {
    margin-top: 10px;
    width: 75%;
    height: 45px;
    background-color: hsla(0,0%,100%,.1);
    border: .1rem solid hsla(0,0%,100%,.1);
    border-radius: 50px;
    margin-left: 10px;
    padding-left: 40px;
    color: white;
    font-family: barcaBold;
    outline: none;
}
.input-search-container #input-search-mobile::placeholder {
    font-size: 1.4rem;
    font-family: barcaLight;
    font-style: italic;
    color: hsla(0,0%,100%,.5);
    font-weight: lighter;
    position: absolute;
    top: 12px;
    left: 40px;
}
.input-search-container i {
    color: hsla(0,0%,100%,.5);
    font-size: 2rem;
    position: absolute;
    top: 22px;
    left: 22px;
}
.button-exit-nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    font-family: barcaBold;
    padding: 8px 20px;
}
.button-exit-nav-mobile .fa-xmark {
    font-size: 2.6rem;
}
.nav-core {
    height: 87%;
    position: relative;
}
.nav-mobile-first {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    justify-content: space-between;
    margin-top: 10px;
    transition: transform 300ms ease-in-out;
}
.nav-mobile-first ul {
    width: 100%;
    background-color: transparent;
    color: hsla(0,0%,100%,.6);
    font-size: 1.4rem;
    font-family: barcaBold;
    list-style: none;
}
.nav-mobile-first-top ul li {
    width: 95%;
    font-weight: lighter;
    padding: 10px 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
}
.nav-mobile-first-top ul li:nth-child(2) {
    background: linear-gradient(90deg, rgb(44, 68, 129), rgb(24, 23, 51)) !important;
    border-left: solid 5px #fdc52c;
    color: white;
}
.nav-mobile-first-top ul li span {
    display: flex;
    align-items: center;
}
.nav-mobile-first-top .icon {
    height: 1.8rem;
    fill: hsla(0,0%,100%,.6);
}
.nav-mobile-first-bottom ul li{
    padding: 5px 20px;
    font-family: barcaLight;
    color: white;
}
.nav-mobile-second {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: calc(100% - 20px);
    display: flex;
    align-items: center;
    overflow-y: scroll;
}
.nav-mobile-second ul {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    list-style: none;
    height: 97%;
    width: 100%;
    background: linear-gradient(rgb(205, 18, 45) 0px, rgb(21, 66, 132));
    overflow: hidden;
}
.nav-mobile-second ul li {
    width: 100%;
    padding: 17px 10px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    font-size: 1.2rem;
    color: white;
    font-family: barcaLight;
    font-weight: 100;
}
.nav-mobile-second ul li:first-child {
    background-color: rgb(119, 17, 30);
    font-family: barcaBold;
    font-size: 1.4rem;
}
.nav-mobile-second ul li:nth-child(7) {
    font-family: barcaBold;
    border-left: 4px solid #fdc52c;
}
.language-options-mobile {
    height: auto;
    /* height: auto; */
    width: 100%;
    color: white;
    /* background-color: #0a0927; */
    background-color: red;
    border-top: .1rem solid hsla(0,0%,100%,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.language-options-mobile span {
    display: flex;
    padding: 10px 10px;
    font-size: 1.4rem;
    justify-content: center;
    align-items: center;
    font-family: barcaRegular;
}
.language-options-mobile .fa-caret-down {
    transform: rotateX(180deg);
}
.language-options-mobile-dropdown {
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    position: fixed;
    z-index: 200;
    transform: translateY(100%);
    transition: transform 300ms ease-in-out;
}
.language-options-mobile-dropdown ul{
    width: 99%;
    height: 94%;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.language-options-mobile-dropdown ul li {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    font-size: 1.4rem;
    font-family: barcaRegular;
    font-weight: bold;
    justify-content: space-between;
    border-bottom: 1px solid #f8f8f8;
    position: relative;
    cursor: pointer;
}
.language-options-mobile-dropdown ul li:first-child {
    border: none;
    cursor: inherit;
}
.language-options-mobile-dropdown ul li:first-child p{
    font-size: 1.2rem;
    color: #767676;
    font-family: barcaLight;
    padding: 15px 0px;
}
.language-options-mobile-dropdown ul li:nth-child(2) p:last-child{
    font-size: 1rem;
    color: #767676;
    font-family: barcaLight;
    margin-right: 20px;
}
.language-options-mobile-dropdown ul li:nth-child(2)::before {
    display: block;
    content: '';
    height: 70%;
    width: 3px;
    background-color: #154284;
    position: absolute;
    left: 0;
}
.btn-exit-language-options {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: rgba(24,23,51,.7);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 2s ease-in-out normal wait;
}
.btn-exit-language-options i {
    font-size: 1.6rem;
    color: white;
}
.culer {
    display: flex;
    padding: 8px 10px;
    background-image: linear-gradient(90deg,#8c1a17,#cd122d);
    margin-right: 5px;
    color: white;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
}
.culer p {
    font-size: 1.5rem;
    font-family: barcaBold;
    margin-left: 3px;
}
.user-options {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    transform: translateX(100%) scale(0);
    transform-origin: right;
    transition: all 300ms ease-in-out;
}
.btn-register .icon{
    width: 16px;
    height: 16px;
    fill: white;
}
.btn-login , .btn-register, .btn-exit-user-options {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-login {
    flex: 4;
    background-color: #181733;
    color: white;
    font-size: 1.6rem;
}
.btn-login p, .btn-register p {
    margin-left: 5px;
    font-family: barcaBold;
}
.btn-register {
    flex: 5;
    color: white;
    font-size: 1.6rem;
    background: linear-gradient(90deg,#8c1a17,#cd122d);
}
.btn-exit-user-options {
    display: flex;
}
.btn-exit-user-options {
    flex: .5;
    color: white;
    font-size: 2.6rem;
    background: #cd122d;
}
.name-team-tablet {
    display: flex;
    font-size: 1.8rem;
    font-family: barcaBold;
    align-items: center;
    color: white;
}
.nav-tablet-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,#cd122d 0,#154284);
}
.nav-tablet-bottom ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 8px 0px;
}
.nav-tablet-bottom span {
    display: flex;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    font-family: barcaLight;
    font-size: 1.6rem;
}
.nav-tablet-bottom li:not(:last-child) {
    width: 33.34%;
    padding: 5px 0px;
}
.shop{
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
    /* padding: 0 50px; */
    flex-shrink: 1;
}
.nav-tablet-bottom li i{
    margin: 0 8px;
}
.fa-ticket, .fa-shirt, .fa-tv {
    font-size: 2rem;
}
.fa-ticket {
    transform: rotateZ(-45deg);
}
.nav-first{
    background-color: darksalmon;
    display: grid;
    grid-template-areas: 
    "logo inf inf"
    "logo nav-mid nav-mid";
    grid-template-rows: 48px 71px;
    grid-template-columns: 329px 1fr 90px;
    position: relative;
    z-index: 10;
}
.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #181733;
    position: relative;
    cursor: pointer;
}
.logo h1 {
    font-size: 3rem;
    font-weight:600;
    margin-left: 10px;
    font-family: barcaSemiBold;
}
.logo .above-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.logo:hover .above-background {
    opacity: .1;
 }
.logo::before {
    content: '';
    width: 15px;
    height: 40%;
    background-color: #154284;
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 200ms ease-in-out;
}
.logo::after {
    content: '';
    width: 15px;
    height: 20%;
    background-color: #cd122d;
    position: absolute;
    right: 0;
    top: 10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 200ms ease-in-out;
}
.logo:hover::before, .logo:hover::after {
    transform: scaleY(1);
}
.nav-top {
    background-color: #0a0927;
    display: flex;
    grid-area: inf;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #29283d;
}
.social-network {
    display: flex;
    color: white;
    align-items: center;
    padding-left: 10px;
}
.social-network p {
    font-size: 1rem;
    opacity: 0.5;
    font-family: barcaSemiBold;
}
.social-network i {
    font-size: 2rem;
    padding-left: 10px;
    opacity: 0.5;
}
.social-network i:hover {
    opacity: 1;
    cursor: pointer;
}
.login-logout {
    color: white;
    display: flex;
    align-items: center;
}
.login-logout span {
    padding: 0 10px;
}
.login a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: barcaSemiBold;
}
.login i {
    font-size: 1.6rem;
}
.login:hover a {
    border-bottom: thin solid white;
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 2px;
    padding: 0 10px;
    background: linear-gradient(to right, rgb(143, 46, 46) 0%, rgb(235, 18, 18) 100%);;
}
.register p {
    font-weight: bold;
    padding-left: 5px;
    cursor: pointer;
    font-family: barcaSemiBold;
    font-size: 1.4rem;
}
.language {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    width: 60px;
    border-right: 1px solid #29283d;
    justify-content: center;
    margin-left: 10px;
    font-family: barcaLight;
    font-size: 1.6rem;
}
.language .above-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0;
    transition: opacity 400ms;
    transition-timing-function: ease-in-out;
}
.about {
    font-size: 1.4rem;
}
.fa-caret-down, .fa-arrow-up-right-from-square{
    margin-left: 5px;
    font-size: 1rem;
}
.language:hover .above-background {
    opacity: 0.5;
}
.language:hover .language-item {
    transform: scale(1);
}
.language-item {
    position: absolute;
    background-color: white;
    top: 75%;
    left: -255%;
    color: black;
    padding:10px 0px;
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: ease-in-out;
    transform-origin: top right;
    z-index: 100;
}
.language-item ul {
    list-style: none;
}
.language-item ul li {
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 115px;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.language-item ul > :first-child {
    border-left: 4px solid #154284;
}
.language-item li:hover .above-background-li {
    position: absolute;
    background-color: lightgray;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.language-item p {
    margin-left: 15px;
    font-weight: lighter;
    font-size: 1.3rem;
    opacity: 0.5;
    padding-bottom: 5px;
}
.language-item::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -5px;
    right: 3px;
}
.about {
    font-family: barcaSemiBold;
}
.nav-mid {
    grid-area: nav-mid;
    background-color: #181733;
    color: white;
    font-family: barcaSemiBold;
}
.nav-mid ul {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
}
.nav-mid ul span {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.nav-mid li {
    font-weight: bold;
    cursor: pointer;
    width: 75%;
    height: 100%;
    border-bottom: thin solid #29283d;
    border-left: thin solid #29283d;
    font-size: 1.6rem;
}
.nav-mid li:hover li:not(:hover) span {
    opacity: .5;
}
.search {
    position: relative;
}
.search .above-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
.search:hover .above-background {
    opacity: .1;
}
.search i {
    font-size: 2.6rem;
    position: absolute;
    transition: opacity 200ms linear;
}
.search .fa-xmark {
    opacity: 0;
}
.form-search {
    cursor: initial;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 90px;
    background-color: white;
    right: 0;
    bottom: -89px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 500ms ease-in-out , opacity 200ms ease-in-out;
}
.js-icon-search {
    color: black !important;
    font-size: 3.6rem !important;
    position: static !important;
    transition: opacity 1s ease-in-out !important;
}
#input-search {
    margin: 0 20px;
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: barcaRegular;
    font-style: italic;
    color: hsla(0,0%,45%,.7);
}
.btn-search {
    border: thin solid hsla(0,0%,45%,.7);
    width: 100px !important;
    height: 35px !important;
    color: black;
    font-size: 1rem !important;
    border-radius: 20px;
    position: static;
    cursor: pointer;
}
.btn-search:hover {
    background-color: #154284;
    color: white;
    transition: 200ms;
}
.first-team {
    position: relative;
}
.first-team::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.5px;
    background-color: #fdc52c;
}
.nav-mid li:last-child{
    width: 40%;
    border-left: thin solid rgb(41, 40, 61);
}
.ticket-museum, .barca-tv, .club {
    position: relative;
}
.ticket, .museum{
    list-style: none;
}
.ticket-museum:hover .drop-down-1 {
    transform: scale(1);
}
.drop-down-1 {
    display: flex;
    position: absolute;
    top: 80%;
    background-color: rgb(21, 66, 132);
    color: white;
    width: 200%;
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: ease-in-out;
    z-index: 100;
}
.drop-down-1::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(21, 66, 132);
    position: absolute;
    top: -8px;
    right: 165px;
}
.sub-1-drop-down-1, .sub-2-drop-down-1, .sub-1-drop-down-3, .sub-2-drop-down-3{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
}
.sub-1-drop-down-1 li, .sub-2-drop-down-1 li, .sub{
    border: none !important;
    width: 100% !important;
}
.sub-1-drop-down-1 span, .sub-2-drop-down-1 span, .sub-drop-down-2 span, .sub-drop-down-2 span, .sub-1-drop-down-3 span, .sub-2-drop-down-3 span{
    justify-content: unset !important;
    align-items: unset !important;
    font-weight: lighter;
    font-size: 1.4rem;
    padding: 10px;
    border-right: thin solid rgba(211, 211, 211, .3);
}
.sub-1-drop-down-1 li:hover p, .sub-2-drop-down-1 p:hover, .sub-drop-down-2 p:hover, .sub-1-drop-down-3 p:hover, .sub-2-drop-down-3 p:hover , .sub-drop-down-4 p:hover {
    text-decoration: underline;
}
.drop-down-2 {
    position: absolute;
    top: 80%;
    background-color: rgb(21, 66, 132);
    color: white;
    width: 125%;
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: ease-in-out;
    padding: 10px 0px;
    z-index: 100;
}
.barca-tv:hover .drop-down-2{
    transform: scale(1);
}
.drop-down-2::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(21, 66, 132);
    position: absolute;
    top: -8px;
    right: 50%;
    transform: translateX(50%);
}
.sub-drop-down-2 {
    display: flex;
    flex-direction: column;
}

.sub-drop-down-2 li {
    border: none !important;
    width: 100% !important;
}
.club:hover .drop-down-3{
    transform: scale(1);
}
.drop-down-3 {
    display: flex;
    position: absolute;
    top: 80%;
    background-color: rgb(21, 66, 132);
    color: white;
    width: 250%;
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: ease-in-out;
    padding: 10px 0px;
    z-index: 100;
}
.drop-down-3::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(21, 66, 132);
    position: absolute;
    top: -8px;
    right: 50%;
    transform: translateX(50%);
}
.sub-1-drop-down-3 li, .sub-2-drop-down-3 li, .sub-drop-down-4 li {
    border: none !important;
    width: 100% !important;
}
.drop-down-4 {
    position: absolute;
    top: 99%;
    left: 0;
    background-color: #0a0927;
    color: white;
    width: 100vw;
    /* height: 265px; */
    transform: scale(0);
    transition: transform 200ms;
    transition-timing-function: ease-in-out;
    z-index: 100;
}
.sub-drop-down-4 {
    display: flex;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}
.sub-drop-down-4 span {
    display: flex;
    flex-direction: column;
    justify-content: unset !important;
    align-items: unset !important;
    font-weight: lighter;
    font-size: 1.4rem;
    padding: 10px 0px;
}
.sub-drop-down-4 span p {
    margin-top: 10px;
}
.sub-drop-down-4 span h2 {
    color: #fdc52c;
}
.barca-teams:hover .drop-down-4 {
    transform: scale(1);
}
.nav-second {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg,#cd122d 0,#154284);
    position: sticky;
    top: 0;
    font-family: barcaLight;
    font-size: 13px;
    z-index: 9;
    position: -webkit-sticky;/* required */
}
.test-a a{
    color: red;
    text-decoration: none;
}
.nav-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav-bottom ul{
    display: flex;
    list-style: none;
    height: 100%;
    align-items: center;
}
.nav-bottom ul li {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}
.nav-bottom ul li::before {
    content: '';
    width: 100%;
    height: 0px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height .1s ease-in;
}
.nav-bottom ul li:nth-child(6)::before {
    content: '';
    width: 100%;
    height: 3.5px;
    background-color: #fdc52c;
    position: absolute;
    bottom: 0;
    left: 0;
}
.nav-bottom ul li:hover::before{
    height: 3.5px;
}
.nav-bottom a {
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
.content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    width: 100%;
}
.name-tag {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/foto_aficio.jpeg) no-repeat;
    background-size: cover;
}
.name-team {
    padding: 32px 0px;
    transform: translateY(-10%);
}
.name-tag .name-team {
    font-family: barcaExtraBold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2.8rem;
    color: #fdc52c;
    background: rgba(0, 0, 0, .5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.squad {
    display: flex;
    flex-direction: column;
    width: 98%;
    background-color: white;
    transform: translateY(-10px);
    margin: 0 auto;
    border-radius: 20px;
}
.title {
    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.name-title {
    font-family: barcaExtraBold;
    font-size: 3.2rem;
}
.content-partner__logo {
    width: 90px;
    height: 90px;
}
.partner {
    display: flex;
    align-items: center;
}
.partner p {
    margin-right: 40px;
    border-right: thin solid black;
    padding-right: 10px;
    font-size: 1rem;
    color: hsla(0,0%,45%,.7);
    font-family: barcaBold;
}
.categories {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: barcaExtraBold;
}
.categories ul{
    display: flex;
    list-style: none;
    background-color: #f8f8f8;
}
.categories li {
    margin-left: 10px;
    padding: 0 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.categories li b {
    font-size: 1.2rem;
}
.categories span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 30px;
}
.categories li:hover {
    cursor: pointer;
    background-color: rgb(21, 66, 132);
    color: white;
    transition: 100ms;
} 
.team-person-item {
    cursor: pointer;
    position: relative;
    width: 32.33%;
    aspect-ratio : 1 / 1;
    margin-right: 5px;
    margin-bottom: 10px;
}
.Stegen {
    background: url(../img/01-MARC-ANDRE_TER_STEGEN.jpg);
    background-size: contain;
}
.Pena {
    background: url(../img/26-INAKI_PENA.jpg);
    background-size: contain;
}
.Bellerin {
    background: url(../img/02-HECTOR_BELLERIN_.jpg);
    background-size: contain;
}
.Araujo {
    background: url(../img/04-RONALD_ARAUJO_.jpg);
    background-size: contain;
}
.Christensen {
    background: url(../img/15-ANDREAS_CHRISTENSEN.jpg);
    background-size: contain;
}
.Alonso {
    background: url(../img/17-MARCOS_ALONSO.jpg);
    background-size: contain;
}
.Alba {
    background: url(../img/18-JORDI_ALBA.jpg);
    background-size: contain;
}
.Kounde {
    background: url(../img/23-JULES_KOUNDE.jpg);
    background-size: contain;
}
.Garcia {
    background: url(../img/24-ERIC_GARCIA.jpg);
    background-size: contain;
}
.Busquets {
    background: url(../img/05-SERGIO_BUSQUETS.jpg);
    background-size: contain;
}
.Pedri {
    background: url(../img/08-PEDRI.jpg);
    background-size: contain;
}
.Kessie {
    background: url(../img/19-FRANCK_KESSIE.jpg);
    background-size: contain;
}
.Roberto {
    background: url(../img/20-S_ROBERTO.jpg);
    background-size: contain;
}
.Jong {
    background: url(../img/21-FRENKIE_DE_JONG.jpg);
    background-size: contain;
}
.Gavi {
    background: url(../img/30-GAVI_.jpg);
    background-size: contain;
}
.Dembele {
    background: url(../img/07-OUSMANE_DEMBELE.jpg);
    background-size: contain;
}
.Lewandowski {
    background: url(../img/09-ROBERT_LEWANDOWSKI.jpg);
    background-size: contain;
}
.Fati {
    background: url(../img/10-ANSU_FATI.jpg);
    background-size: contain;
}
.Torres {
    background: url(../img/11-FERRAN_TORRES.jpg);
    background-size: contain;
}
.Depay {
    background: url(../img/14-MEMPHIS_DEPAY.jpg);
    background-size: contain;
}
.Raphinha {
    background: url(../img/22-RAPHINHA.jpg);
    background-size: contain;
}
.Xavi {
    background: url(../img/00_XAVI_HERNANDEZ.jpg);
    background-size: contain;
}
.above-background-linear {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(11, 4, 4,0), rgba(8, 7, 7, 0.5), rgba(9, 7, 7, 0.8), rgba(8, 7, 7));
}
.name {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: linear-gradient(180deg,hsla(0,0%,93%,.2),hsla(0,0%,100%,0) 90%);
    bottom: -5%;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    width: 100%;
    overflow: hidden;
}
.name h1 {
    font-size: 12.5rem;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
	background: linear-gradient(to bottom, white 0%, black 100%);
    opacity: 0.6;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-family: barcaExtraBold;
}
.infor {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    font-size: 3.2rem;
    text-align: center;
    bottom: 5%;
    transition: bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
}
.name_position {
    bottom: -5%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom;
    transition-timing-function: ease-in-out;
    transition-duration: 400ms;
    font-family: barcaLight;
}
.name_position b {
    font-family: barcaExtraBold;
}
.name_position .full-name {
    font-size: 4rem;
}
.posi {
    font-size: 1.6rem;
    opacity: 0.5;
    font-family: barcaExtraBold;
}
.achievements { 
    font-family: barcaExtraBold;
    width: 90%;
    padding-top: 10px;
    border-top: thin solid white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    color: white;
    bottom: -25%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: bottom, opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
    gap: 0 10px;
}
.achievements ul {
    list-style: none;
    display: flex;
}
.sub-achievements {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 10px;
    margin-bottom: 10px; */
}
.sub-achievements b:last-child {
    font-size: 2.5rem;
    font-family: barcaExtraBold;
}
.team-person-item:hover .infor {
    bottom: 25%;
}
.team-person-item:hover .name_position {
    bottom: 5%;
}
.team-person-item:hover .achievements {
    bottom: 0%;
    opacity: 1;
}
.team-person-item:hover .infor_xavi {
    bottom: 10%;
}
.team-person-item:hover .name_position_xavi{
    bottom: 0;
}
.position {
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}
.name-position {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    background: linear-gradient(90deg,#cd122d,#154284);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: barcaExtraBold;
    font-size: 1.8rem;
}
.team-person {
    margin: 0px 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(3, 100%); */
}
.season {
    color: white;
    opacity: 0.6;
    font-size: 1rem;
}
.season b:last-child {
    color: #fdc52c;
    opacity: 1 !important;
    font-size: 2rem;
}
.achievements-details, .achievements-season {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
/* .season:not(:last-child) {
    margin-left: 20px;
} */
.assitant {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2.2rem;
    padding: 0 30px;
}
.role, .name-assist {
    width: 100%;
    margin-right: 1px;
}
.assitant ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.role li {
    width: 50%;
    background-color: #f3f3f3;
    font-family: barcaLight;
    text-align: center;
}
.name-role {
    background-color: #ededed;
    font-family: barcaBold !important;
}
.assitant li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.9%;
    padding: 10px 0px;
    margin-bottom: 5px;
}
.achievements-club {
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #111025;
    border: 1px solid #262b47;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.achievements-club-item {
    width: 380px;
    height: 86px;
    background: url(../img/horizontal-flash@x2.jpg);
    background-size: contain;
    margin: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.achievements-club-item span {
    width: 100%;
    height: 30px;
    background-color: black;
    position: relative;
    display: flex;
    background-image: url(../img/horizontal-flash-mobile@x2.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.achievements-club-item span p {
    color: white;
    /* margin-right: 20px; */
    font-size: 1.2rem;
}
.achievements-club-item span b {
    color: #fdc52c;
    font-size: 6.5rem;
    font-family: barcaExtraBold;
}
.achievements-club-item span svg {
    width: 32px;
    height: 64px;
    fill: #fdc52c;
    margin: 0px 10px;
}
.footer {
    position: relative;
}
.footer-top {
    width: 100vw;
    height: 350px;
    overflow: hidden;
}
.footer-top svg {
    position: relative;
    width: 200%;
    height: 100%;
    opacity: .6;
    left: -50%;
}
.header-name-team {
    color: white;
    font-family: barcaBold;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4rem;
}
.footer p {
    color: #fdc52c;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    font-size: 1.2rem;
}
.donors {
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 96%;
    display: flex;
    justify-content: space-around;
    transform: translateX(-50%);
    border-left: 2px solid #fdc52c;
}
.donors svg {
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    cursor: pointer;
}
.line-bottom {
    width: 100%;
    height: 4px;
    background-color: #fdc52c;
    transform: scale(0);
    transition: transform 300ms;
    transition-timing-function: ease-in-out;
    transform-origin: center;
}
.nikes:hover .line-bottom, .spotify:hover .line-bottom {
    transform: scale(1);
}
.footer-mid {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.footer-mid-title {
    color: white;
    font-size: 2.4rem;
    font-family: barcaBold;
    margin-bottom: 20px;
}
.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-media-item {
    cursor: pointer;
    width: 135px;
    height: 104px;
    margin: 0 5px;
    position: relative;
}
.social-media-item:hover {
    outline: solid white 2px;
}
.facebook {
    background-color: #3b5998;
    color: white;
}
.social-media-item i, .onefootbal img{
    font-size: 3.2rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.social-media-item p{
    font-size: 1.2rem;
    font-family: barcaBold;
    margin-left: 10px;
}
.twitter {
    background-color: #55acee;
    color: white;
}
.social-media-item.spotify {
    background-color: #00d365;
}
.youtube {
    background-color: #b00;
    color: white;
}
.instagram {
    color: white;
    background:radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d);;
}
.onefootbal {
    background-color: white;
}
.onefootbal img{
    margin-bottom: 10px 
}
.tiktok {
    background-color: black;
    color: white;
}
.tiktok i {
    font-size: 2.5rem;
    margin-top: 12px;
    margin-bottom: 18px;
}
.footer-bottom {
    margin-top: 120px;
}
.sitemap {
    display: flex;
    color: white;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 50px;
}
.sitemap ul {
    list-style: none;
}
.sitemap-item h4 {
    margin-bottom: 40px;
    font-family: barcaBold;
}
.sitemap-item li {
    margin-bottom: 10px;
}
.sitemap-item {
    padding-right: 20px;
}
.sitemap-item h4 {
    font-size: 1.8rem;
}
.sitemap-item a {
    text-decoration: none;
    color: hsla(0,0%,100%,.75);
    font-family: barcaLight;
    font-weight: lighter;
    line-height: 24px;
    font-size: 1.4rem;
}
.sitemap-item a:hover {
    text-decoration: underline;
}
.name-logo {
    display: flex;
    color: white;
    font-family: barcaBold;
    align-items: center;
    margin-left: 20px;
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.name-logo img {
    margin-right: 5px;
}
.footer-corporate {
    width: 80%;
}
.footer-corporate-link {
    color: white;
    display: flex;
    margin-left: 15px;
    font-size: 1.2rem;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.footer-corporate-link ul {
    display: flex;
    list-style: none;
    color: hsla(0,0%,100%,.75);
    float: right;
}
.footer-corporate-link li {
    padding: 0px 10px;
    font-family: barcaLight;
    font-weight: lighter;
}
.footer-corporate-link li:not(:last-child) {
    border-right: 1px solid hsla(0,0%,100%,.75);
}
.footer-corporate-link li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-corporate-link span  {
    color: hsla(0,0%,100%,.75);
    font-family: barcaLight;
    font-weight: lighter;
}
